.container {
  padding: 48px 128px 96px;
  margin: 0 auto;
  background: #f8f8f8;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 64px;
}

.loadMoreBtn {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #f4c550;
  border: none;
  margin: 0 auto;

  color: #121417;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.loadMoreBtn:hover {
  background-color: #ffdc86;
}
