:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'DM Sans', sans-serif;

  --black: #000;
  --white: #fff;
  --background: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 392.5px) {
  .container {
    padding: 28px;
  }
}
@media only screen and (min-width: 393px) {
  .container {
    padding: 36px;
    max-width: 393px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 52px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 128px;
    max-width: 1440px;
  }
}
